<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/add_user.js" type="text/javascript"></script>
</head>
<body>
<div>
    <span>
        <a href="/users">Search users</a>
    </span>
</div>
<div class="hide" id="error" style="color: red;">

</div>
<div class="hide" id="success">
    User created
</div>
<h1><%= title %></h1>
<div>
    <form id="add-user">
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="text" name="address" placeholder="Address">
        <button type="submit">Add User</button>
    </form>
</div>
</body>
</html>
