<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/user_search.js" type="text/javascript"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <form id="search">
        <input type="text" name="location" placeholder="Address">
        <button type="submit">Add User</button>
    </form>
</div>
</body>
</html>
